@model HelpDesk.Models.Probleme

@{
    ViewBag.Title = "Create";
}
        <h2>Create</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Probleme</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      
                <div class="form-group">
                    @Html.LabelFor(model => model.ObjetProbleme, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ObjetProbleme, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ObjetProbleme, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DescreptionProbleme, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.DescreptionProbleme, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DescreptionProbleme, "", new { @class = "text-danger" })
                    </div>
                </div>

                @{HelpDesk.Models.Categorie categorie = new HelpDesk.Models.Categorie();
                    SelectList list = new SelectList(categorie.find_all(), "IdCategorie", "NomCategorie");
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.categorie, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.categorie.IdCategorie, list, "Selectionner la categorie")
                        @Html.ValidationMessageFor(model => model.categorie.IdCategorie, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
                    }

        <div>
            @Html.ActionLink("Retour à la List", "Index","Probleme")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
   