@model HelpDesk.Models.Ticket

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.IdTicket)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IdTicket)
		</dd>
		<dt>
            @Html.DisplayNameFor(model => model.Objet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOuverture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOuverture)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.Priorite)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Priorite)
		</dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFermeture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFermeture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
