@model HelpDesk.Models.Solution

@{
    ViewBag.Title = "Index";
}



        
                <p>
                    @Html.ActionLink("Créer une Nouvelle Solution", "Create")
                </p>
                <div class="panel-body widget-shadow">

                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdSolution)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.probleme)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.find_all())
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdSolution)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.probleme.ObjetProbleme)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.IdSolution }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }

                    </table>
                </div>